<!DOCTYPE html>
<html>
  <head>
    <title>Image Search Abstraction Layer</title>
    <meta name="description" content="Image Search Abstraction Layer">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" 
          integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" 
          crossorigin="anonymous">
   <link rel="icon" 
      type="image/ico" 
      href="https://cdn.glitch.com/0c434412-1bc0-49c2-b808-c14f8921448f%2Fsearch.png?1515797452230">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body class="container">
    <header>
      <h1 class="text-center">
      Image Search Abstraction Layer
      </h1>
    </header>
    
    <main>
      <h4>Instructions:</h4>
      <ul>
        <li>Use https://imgsrch-al.glitch.me/search/+ term you want to search +?offset=+ a number, which indicates page number.</li>
        <li>Use https://imgsrch-al.glitch.me/latest-seach to view the past 8 searches made.</li>
      </ul>
      <h4>Example Input:</h4>
      <ul>
        <a href="https://imgsrch-al.glitch.me/search/lolcats%20funny?offset=1">https://imgsrch-al.glitch.me/search/lolcats%20funny?offset=1</a>
      </ul>
    </main>

    <footer></footer>

    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" 
            integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" 
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>

  </body>
</html>
